.about--page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 60vh;
  width: 80%;
}

.about--page h2 {
  text-align: left;
}

.about--tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about--tab {
  background-color: #361D2E;
  font-family: 'Paytone One', sans-serif;
  color: white;
  margin-right: 3px;
  padding: 8px 10px;
  cursor:pointer
}

li.about--active {
  background-color: white;
  color: #361D2E;
  border: 1px solid #361D2E;
  border-bottom: 0;
  transform: translateY(1px)
}

.about--menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about--panel {
  display: none;
  background-color: white;
  border: 1px solid #361D2E;
  text-align: left;
  padding: 1% 3%;
}

.about--active {
  display: block;
}

.strong {
  font-weight: 600;
}

.about--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about--video {
  box-shadow: 8px 8px #361D2E;
  align-self: center;
  max-width: 100%;
}

@media only screen and (max-width: 675px) {
  .about--page {
    width: 95%;
  }
}