.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 0;
}

.socials-list {
  list-style-type: none;
}

.socials--icon {
  margin: 4px 0;
  transition: .1s;
}

.socials--icon:hover {
  transform: translateY(-2px);
  filter:hue-rotate(90)
}

.socials-list::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #361D2E;
  box-sizing: inherit;
}